body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.header{
    height: 72px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    position: absolute;
    left: calc(50% - 600px);
}

.navigation{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-right: 10px;
    align-items: center;
}

.navigation a{
    text-decoration: none;
    color: #1B365D;
    font-size: 16px;
    font-style: normal;
}

.log_btn{
    margin-left: 52px;
    color: #1B365D;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    background-color: #fff;
    border: solid 1px #1B365D;
    border-radius: 4px;
    padding: 6px 24px;
}

.section1{
    height: calc(100vh - 72px);
    width: 100%;
    background-image: url(./assets/bcg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.main_header{
    color: #1B365D;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    width: 404px;
    margin-bottom: 17px;
}

.main_descr{
    color: #434140;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 40px;
}

.buttons button{
    color: #1B365D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 13px 36px;
    cursor: pointer;
}

.white_btn{
    border-radius: 24px;
    border: 1px solid #FFF;
    background-color: #FFF; 
}

.transparent_btn{
    background-color: #00000000;
    border: 0;
}

.buy_tip{
    position: absolute;
    top: 91vh;
    width: 500px;
    background: #F1C0C7;
    display: flex;
    flex-direction: row;
    padding: 16px 16px 16px 88px;
}

.buy_tip_img{
    width: 84px;
    height: 54px;
    object-fit: cover;
}

.buy_tip_text{
    color: #1B365D;
    font-size: 15px;
    font-style: normal;
    line-height: 21px;
}

.bold{
    font-weight: 700 !important;
}

.section2{
    height: 90vh;
    padding-top: 15vh;
}

.options{
    /* margin-top: 15vh; */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* gap: 10px; */
    justify-content: space-between;
}

.option{
    height: 80vh;
    width: 24%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.option#option1{
    background-image: url(./assets/option1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.option#option2{
    background-image: url(./assets/option2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.option#option3{
    background-image: url(./assets/option3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.option#option4{
    background-image: url(./assets/option4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.option_text{
    position: relative;
    bottom: 60px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    width: 70%;
}

.option_header{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.blue_bcg{
    width: 100%;
    height: 60vh;
    position: absolute;
    margin-top: -60vh;
    background-color: #D0E8EA;
    z-index: -1;
}

h2{
    color: #1B365D;
    font-size: 50px;
    font-style: normal;
    line-height: 55px;
}

h2.section3_h{
    font-weight: 700;
}

.section3_img{
    width: 100%;
    height: auto;
    margin: 35px auto;
}

.benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.benefit{
    max-width: 40%;
}

.benefit_h{
    color: #1B365D;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    margin-bottom: 10px;
}

.black_text{
    color: #434141;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 15px;
}

.benefit_more{
    color: #1B365D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.section4{
    height: 100vh;
    padding-top: 16px;
}

.section4 .wrapper{
    display: flex;
    flex-direction: row;
}

.section4_note{
    color: #AEABA8;
    font-size: 11px;
    font-style: normal;
    line-height: 18px; 
}

.section4_img_wrapper, .section4_text_wrapper{
    width: 50%;
}

.section4_img_wrapper{
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.section4_img{
    width: 70%;
}

.section4_icons{
    gap: 16px;
    display: flex;
}

.section4_h{
    margin-top: 16px;
    margin-bottom: 20px;
}

.section5{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/bcg5.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section5_wrapper{
    padding-top: 45vh;
}

.section5_text_wrapper, .section5_bold_text{
    margin-left: -24px;
    padding-left: 18px;
}

.section5_text_wrapper{
    border-left: 4px solid #ADD4E0;
    margin-bottom: 55px;
}

.section5_h{
    color: #fff !important;
    margin-bottom: 20px;
}

.section5_text{
    color: #fff !important;
}

.section5_discover{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    border-left: 4px solid #615E5C;
    position: relative;
    z-index: 2;
    margin-left: -22px;
    padding-left: 18px;
}

.section5_bold_text{
    color: #fff;
    margin-bottom: 16px;
    border-left: 4px solid #615E5C;
    margin-left: -24px;
    padding-left: 18px;
}

.section6{
    height: 100vh;
    display: flex;
    padding: 80px;
}

.section6_h{
    margin: 13px 0 20px 0;
}

.section6_button{
    border-radius: 24px;
    border: 1px solid #ADD4E0;
    background-color: #ADD4E0;
    color: #1B365D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    padding: 13px 25px;
    margin-top: 45px;
}

.section6_img{
    margin: auto;
}

